* {
	margin: 0;
	padding: 0;
}

.center{
	width:520px;
	margin:0 auto;
}
.slider {
	width: 520px;
	height: 280px;
	position: relative;
	overflow: hidden;
}

.slider-btn {
	display: none;
}

.slider-btn a {
	display: block;
	position: absolute;
	top: 120px;
	width: 25px;
	height: 40px;
	line-height: 40px;
	background-color: #000;
	opacity: 0.3;
	filter: alpha(opacity=30) color: rgb(255, 255, 255);
	overflow: hidden;
	z-index: 4;
}

.prevBtn {
	left: 0px;
}

.nextBtn {
	right: 0px;
}

.slider-img {
	font-size: 0;
	position: relative;
}

.slider-img li {
	display: inline-block;
	vertical-align: top;
}

.slider i {
	background: url(../images/i.png) no-repeat;
	width: 15px;
	height: 23px;
	cursor: pointer;
	margin: 8px 0 0 8px;
	display: block;
}

.slider .nextBtn i {
	background-position: -200px -115px;
}

.slider .prevBtn i {
	background-position: -200px -95px;
}

.slider-circle {
	position: absolute;
	left: 50%;
	bottom: 15px;
	height: 13px;
	text-align: center;
	font-size: 0;
	border-radius: 10px;
	background: rgba(255, 255, 255, 0.3);
	filter: alpha(opacity: 30);
}

.slider-circle li {
	margin: 2px;
	display: inline-block;
	display: -moz-inline-stack;
	vertical-align: middle;
	zoom: 1;
}

.slider-circle li a {
	display: block;
	padding-top: 9px;
	width: 9px;
	height: 0;
	border-radius: 50%;
	background: #B7B7B7;
	overflow: hidden;
}

.slider-circle .selected a {
	background: #F40;
}

